.titel{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wack{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

*{
    background-image: url(/img/Zz03ZTY0Mzk3MDhlNDgxMWViYmRmNWY3MjZjM2QxZTdiZg==.jpg);
}


.back{
    color: rgb(0, 0, 0);
  background: #ec9006;
  
  
  font-weight: 500;
  letter-spacing: 2px;
  
  border-radius: 10px;
  padding: 2px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration: underline;

  
}

.back:hover {
    background: #a8e0ed;
    transform: scale(1, 1);
    
  }